// Write (or import) your styles here

.app-header{
    background-color: #181818;
}

.app-header.navbar {
    border-bottom: 1px solid #181818;
}

.app-header.navbar .navbar-brand img {
    max-width: 350px;
    max-height: 35px;
}

.sidebar .nav-link .nav-icon {
    color: #FFFFFF;
}

.sidebar .nav-link{
    color: #FFFFFF;
}

.sidebar .nav-title{
    color: #FFFFFF;
}

.hidden-md-down{
    color: #FFFFFF;
}

.sidebar .nav-link.active{

}
.sidebar .nav-link.active .nav-icon{

}
